.containerBuku {
    flex-direction: column;
    display: flex;
    align-self: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #ca8dfd;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

.containerRanking {
    margin-bottom: 10px;
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background-color: #ca8dfd;
    border-style: double;
    border-color: #ffffff;
    border-width: 6px;
}

.containerDataBuku {
    flex-direction: row;
    display: flex;
    align-self: center;
    align-items: center;
    padding-top: 0px;
}

.containerStringBuku {
    background-color: #ca8dfd;
    margin-left: auto; 
    margin-right: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

#rankingBuku {
    font-weight: bolder;
    font-size: 30px;
    font-family: "Cambria";
    color: rgb(255, 255, 255);
    margin-top: 18px;
    margin-bottom: auto;
}

.sampulBuku {
    object-fit: cover;
    width: 150px;
    margin-right: 20px;
    border-radius: 0px;
    border-style: solid;
    border-color: #9300ff;
}

#ketBuku {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Cambria";
    
}

#judulBuku {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size:  18px;
    font-style: italic;
    font-family: "Cambria";
}

#penulisBuku {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Cambria";
    
}

#penerbitBuku {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
